@media screen and (min-width:200px) and (max-width:654px) {
    .main-container {
        height: 100%;
        /* width: 1251px; */
        max-width: 1253px;
    }

    .navigationbar {
        background-color: rgb(255, 255, 255);
        position: relative;
        margin-top: 2px;
        width: 99.9%;
        height: 70px;

    }

    .logo img {
        margin-left: 0px;
        height: 22px;
        width: 87px;
    }

    /* .hidden-menu{
        display: none;
        display: inline-block;
        float: left;
    } */

    #navbar ul li {
        display: none;
    }

    #menu-icon {
        display: none;
    }

    .hidden_menu {
        display: inline-block !important;
        float: left;
        padding-left: 14px;
    }

    .hidden_menu img {
        width: 50%;
    }

    #search-icon {
        display: none;
    }

    .para h1 {
        font-size: 32px;
        margin-top: 84px;
        margin-bottom: 7px;
    }

    .para p {
        font-size: 16px;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }

    .first-line {
        width: 122px;
        /* margin-bottom: 12px; */
    }

    .btn {
        padding-bottom: 104px;
        flex-wrap: wrap;
    }

    .btn button {
        height: 64px;
        width: 184px;
        /* padding: 55px 50px; */
        margin: 4px;
    }



    /* section  */





    .class-equine {
        height: 200%;
    }

    .class-equine h1 {
        font-size: 26px;
    }

    .line {
        margin-bottom: 32px;
        width: 76px;
    }

    #first-classbox {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 80px;
    }

    .care-box {
        width: 85%;
    }

    .care-box img {
        width: 100%;

    }

    .care-box h3 {
        font-size: 22px;
    }

    .second-para {
        font-size: 14px;
    }

    /* section  */

    .logo-img svg {
       
        margin-top: 90px;

    }

    .third-section h1 {
        font-size: 23px;
        line-height: 26px;
        padding: 0px;
    }


    .third-line {
        border: 1.3px solid #F1B847;
        width: 73px;
        margin: 18px auto;
    }

    .third-section p {
        max-width: 477px;
        line-height: 1.42em;
        font-size: 18.75px;
    }

    span.name {
        font-size: 18px;
        margin-bottom: 10px;
    }

    span.work {
        font-size: 15px;
    }




    .owl-dot {
        padding-top: 12px;
        padding-bottom: 68px;
    }


    span#first-dot {
        width: 15px;
        height: 15px;
    }

    span#second-dot {
        height: 10px;
        width: 10px;
    }


    /* section  */


    .top-story h1 {
        font-size: 25px;
        padding-top: 100px;
        padding-bottom: 91px;
    }

    .forth-line {
        width: 78px;

    }

    .img-background {
        flex-direction: column;
    }

    .wrapper {
        width: 77%;
        padding-left: 20px;
    }

    .wrapper img {
        height: 30%;
        width: 100%;
        margin: 0px;
    }

    .leftDiv {
        width: 80%;
        padding-bottom: 80px;
        gap: 18px;
        margin: 0px;
        padding-left: 20px;
    }


    .heading h3 {
        font-size: 14px;
        padding-top: 36px;
        padding-bottom: 20px;
    }

    .heading-line {
        width: 50%;
    }

    .post-img {
        width: 100%;
    }

    .img-para p {
        font-size: 18px;
        width: 100%;
        margin-left: 28px;
    }

    .img-para a {
        font-size: 15px;
        line-height: 29px;
        margin-left: 28px;
    }


    /* section  */


    .home-image {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        margin-top: 10px;
    }



    /* section  */
    .team-heading h3 {
        line-height: 38px;
        font-size: 28px;
    }

    .line-h3 {
        width: 80px;
    }

    .team-section {
        flex-wrap: wrap;
    }

    .section-wrapper {
        width: 100%;
    }

    /* seventh-section */

    .section-title-holder {
        margin: 0px;
    }

    .section-title-holder h4 {
        font-size: 30px;
        margin-right: 0px;
        margin: 0px;
    }

    .flex-class {
        flex-direction: column;
        align-items: center;
    }

    .section-title-holder {
        width: 78%;
        padding-bottom: 16px;
    }

    .e-mail-search {
        width: 100%;
        padding: 0px;
        margin: 0px;
        padding-bottom: 55px;
        display: flex;
        flex-direction: column;
        width: 81%;
    }

    #section_search {
        width: 80%;
    }
    .search-box{
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .e-mail-search button {
    margin-top: 0px;
    }


    /* eigth-section */



    .reading-lesson h4 {
        font-size: 30px;
    }

    .st-inner {
        flex-direction: column;
        align-items: center;
    }

    .pricing-table {
        width: 90%;
        height: 100%;
        padding-bottom: 58px;
    }

    #pt-tittle-holder-1 span {
        font-size: 14px;
    }

    #pt-tittle-holder-2 span {
        font-size: 14px;
    }

    #pt-tittle-holder-3 span {
        font-size: 14px;
    }

    .pt-price {
        font-size: 48px;
    }

    .pt-value {
        font-size: 18px;
        padding-right: 0px;
    }

    #pt-tittle-holder-1 {
        width: 100%;
    }

    #pt-tittle-holder-2 {
        width: 100%;
    }

    #pt-tittle-holder-3 {
        width: 100%;
    }

    button {
        padding: 23px 40px;
        font-size: 10px;
    }

    /* section  */

    .video-button-holder {
        width: 100%;
        background-size: 655px;
        height: 280px;
    }



    /* section  */




    .calendar-heading {
        width: 100%;
    }

    .eli-text h5 {}

    .eli-start-date {}

    .eli-location {}

    .eli-text-holder {
        padding: 0px 8px 28px;
    }

    .eli-info p {
        width: 100%;
        font-size: 14px;
    }

    .wrapper-main-cotainer {
        width: 100%;
    }

    .colum-inner {
        flex-direction: column;
        align-items: center;
    }

    .item-inner {
        width: 90%;
    }

    .text-btn {
        font-size: 11px;
    }


    /* section  */

    .owl-stage {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .owl-stage img {
        height: 80px;
    }

    /* footer  */


    .column-content-col-3 {
        padding: 0px;
    }

    .footer-top-holder {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-menu {
        padding-top: 22px;
    }

    .location-img {
        padding-left: 0px;
        padding-top: 22px;
    }




}

@media screen and (max-width: 450px) {


    .video-button-holder {
        background-size: 441px;
        height: 192px;
    }



    .footer-bottom-inner {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .custom-html-widget span {
        font-size: 14px;
    }

    .custom-html-widget {
        padding: 0px;
        width: 43%;
    }

    .grid-col-4 {
        padding: 0px;
    }

    .social-icons {
        margin: 0px;
        text-align: justify;
    }

    .textwidget {
        margin: 0px;
        padding: 0px;
        width: 60%;
    }
}



@media screen and (min-width:250px) and (max-width:300px) {

    .leftDiv {
        width: 100%;
        padding-left: 8px;
    }

    .top-story h1 {
        font-size: 20px;
    }

    .forth-line {
        width: 60px;
    }

    .wrapper {
        padding-left: 8px;
    }

    .heading-line {
        width: 30%;
    }

    .img-para p {
        width: 80%;
        margin-left: 20px;
    }

    .img-para a {
        font-size: 15px;
        margin-left: 20px;
    }





    .column-content-col-3 p {
        width: 100%;
        padding-left: 8px;
    }

    /* .clock-logo p {
        width: 100%;
    }
    .li-icon-holder{
        width: 100%;
    } */
    .footer-menu {
        width: 100%;
        padding-left: 8px;
    }

    .recent-post-widget {
        width: 100%;
        padding-left: 8px;
    }

    .location-img {
        padding-left: 8px;
        padding-top: 22px;
    }

    .location-img img {
        width: 90%;
    }

    .recent-post {
        width: 100%;
    }

    .recent-post p {
        width: 50%;
    }




    .footer-bottom-inner {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .custom-html-widget span {
        font-size: 14px;
    }

    .custom-html-widget {
        padding: 0px;
        width: 35%;
    }

    .grid-col-4 {
        padding: 0px;
    }

    .social-icons {
        margin: 0px;
        text-align: justify;
    }

    .textwidget {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }









}
